<ion-card *ngFor="let product of products">
  <ion-card-content>
    <ion-img src="../assets/img/{{product.url}}">
    </ion-img>
    <h4><b>{{product.name}}</b></h4>
    <p *ngIf="product.discount > 0">
      <s>Rp.{{product.price}}</s>
    </p>
    <p *ngIf="product.discount > 0">Discount: Rp.{{discount(product)}}</p>
    <p>Nett Price: Rp.{{calculateNettPrice(product)}}</p>
    <p *ngIf="kodeVoucher">Voucher {{kodeVoucher}} akan dipakai</p>
  </ion-card-content>
</ion-card>
<ion-item>
  <ion-label position="floating">Kode Voucher</ion-label>
  <ion-input (input)="checkVoucher($event)" [(ngModel)]="kodeVoucher"></ion-input>
</ion-item>
<!-- <ion-button (click)="applyDiscount()" [color]="btnColor" [disabled]="btnDisable">
    Apply Diskon
  </ion-button> -->