<app-productform></app-productform>
<h1>{{json}}</h1>
<ion-button (click)="listProduct()">Get Product</ion-button>
<ion-card *ngFor="let product of products; let i = index">
  <ion-card-content>
    <ion-chip>{{i+1}}</ion-chip>
    <ion-img src="https://ubaya.fun/hybrid/160420016/images/{{product.url}}">
    </ion-img>
    <h4><b>{{product.name}}</b></h4>
    <p *ngIf="product.disc > 0">
      <s>Rp.{{product.price}}</s>
    </p>
    <p *ngIf="product.disc > 0">Discount: Rp.{{discount(product)}}</p>
    <p>Nett Price: Rp.{{calculateNettPrice(product)}}</p>
    <ion-button color="primary" routerLink="/detail/{{product.id}}">Read More</ion-button>
    <p *ngIf="kodeVoucher">Voucher {{kodeVoucher}} akan dipakai</p>
  </ion-card-content>
</ion-card>
<ion-item>
  <ion-label position="floating">Kode Voucher</ion-label>
  <ion-input (input)="checkVoucher($event)" [(ngModel)]="kodeVoucher"></ion-input>
</ion-item>
<!-- <ion-button (click)="applyDiscount()" [color]="btnColor" [disabled]="btnDisable">
    Apply Diskon
  </ion-button> -->