<ion-card>
  <ion-card-content>
    <ion-img src="{{covidImg}}"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-button (click)="btnOneClick()" [color]="btnOne">1</ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="btnTwoClick()" [color]="btnTwo">2</ion-button>
        </ion-col>
        <ion-col size="1">
          <ion-button (click)="btnThreeClick()" [color]="btnThree">3</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>